*{
    box-sizing:border-box;
}

@font-face{
    font-family:"GROBOLD";
    src: url("GROBOLD.ttf");  
}
body{
    background: linear-gradient(rgb(206,234,255),rgb(136,204,255),rgb(0,0,0));
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100vh;
}
main{
    width:1000px;
    height:600px;
    margin:auto auto;
    background-image: url("images/SmurfsVillage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip:border-box;
    text-align: center;
    color: white;
    letter-spacing: 0.1em;
    text-shadow: 0 0 20px rgb(0,0,0);
    font-family:'GROBOLD';
    position:relative;
}
h1{
    background:rgba(136,204,255,0.8);
    border: 3px solid rgba(255,255,255,0.5);
    border-radius:15px;
    width: 50%;
    margin:2% auto;
    padding: 2%;
    font-size: 3em;
    display:inline-block;
}
h1+div{
    position:absolute;
    top:40px;
    right:20px;
    width:160px;
    height:55px;
}

h4{
    background:rgba(136,204,255,0.8);
    border: 3px solid rgba(255,255,255,0.5);
    font-weight:lighter;
    border-radius: 15px;
    margin:10px;
    padding: 1%;
    width:20%;
    position:absolute;
    bottom:0;
    left:0;
}
img{
    width:5%;
    position:absolute;
    opacity:0;
}
#regSmurf{
    bottom:30%;
    left:37%;
}
#smurfette{
    width:7%;
    top:45%;
    left:60%;
}
#papaSmurf{
    bottom:17%;
    left:45%;
}
#brainySmurf{
    right:20%;
    top:30%;
}
#handySmurf{
    width:7%;
    bottom:5%;
    right:5%;
}
#vanitySmurf{
    top:30%;
    left:22%;
}
#azrael1{
    top:25%;
    left:50%;
}
#azrael2{
    bottom:20%;
    right:20%;
}
#azrael3{
    bottom:35%;
    left:22%;
}
#gargamel{
    width:50%;
    bottom:-40px;
    left:30%;
    opacity:1;
    display:none;
}
.lives{
    opacity:1;
    width:50px;
    float:right;
}
#heart1{
    right:0px;
}
#heart2{
    right:50px;
}
#heart3{
    right:100px;
}